.site-header {
  position: fixed;
  width: 100%;
}

.bar {
    vertical-align: center;
    height: 100px;
    position: relative;
    
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    margin-bottom: 100px;
}

.mx-auto {
    color: rgb(14, 14, 14);
    
}

.d-flex :hover {
    box-shadow: 0 0 5px rgba(71, 71, 71, 0.2);
    border-radius: 10px;
    transition-property: 20px;
    transition-duration: 0.3s;
  }

  .logo {
    display: block;
    height: 120px;
    width: auto;
  }

  .link {
    position: relative;
  }